<!DOCTYPE html>
<html>
<head>
    <title>EC Canteens</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js"></script>
    <script data-require="chance@*" data-semver="0.5.3" src="http://chancejs.com/chance.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.1.3/angular-google-maps.min.js"></script>
    <script src="js/map-controller.js"></script>
</head>
<body ng-app="appMaps">
<div ng-controller="mapCtrl">
    <ui-gmap-google-map center="map.center"
                        zoom="map.zoom" draggable="true" options="map.options"
            events="map.events">
        <!--doCluster="map.doCluster"-->
        <ui-gmap-markers
                doCluster="map.doCluster"
                models="searchResults.results"
                coords="'coords'"
                idkey="'key'"
                chunk="200"
                ></ui-gmap-markers>
    </ui-gmap-google-map>
    <button ng-click="addMarkers(1000)">Add New Marker</button>
    <button ng-click="reset()">Reset</button>
    <p>Max number of results to show: 100<br/>Num of items in results: {{searchResults.results.length}}</p>
    <p>doCluster:{{map.doCluster}}</p>
    <p>zoom:{{map.zoom}}</p>
    <pre>{{searchResults.results | json}}</pre>
</div>
</body>
</html>
